:root {
    --headerOne: rgb(52,99,188);
    --headerTwo: rgb(32,9,75);
    --lightText: white;
    --darkText: black;
    --searchButton: rgb(80,152,230);
    --historyButton: rgb(174,174,174);
    --uvGreen: rgb(21,115,71);
    --uvRed: red;
    --uvYellow: yellow;
    --carBack: rgb(45,62,80);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body img {
    height: 50px;
    width: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--headerOne), var(--headerTwo));
    font-size: 150%;
    color: var(--lightText);
    margin: 0;
    height: 100px;
}

main {
    display: flex;
    flex-direction: row;
}

.searchBox {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.cityInput {
    height: 25px;
}

.searchBtn {
    font-size: 110%;
    background-color: var(--searchButton);
    color: var(--lightText);
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.searchBtn:hover {
    background-color: var(--historyButton);
    color: black;
}

.lineBreak {
    width: 100%;
    border-top: 3px solid lightgray;
}

.historyBtn {
    font-size: 110%;
    background-color: var(--historyButton);
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin: 5px 0;
}

.historyBtn:hover {
    background-color: var(--searchButton);
    color: var(--lightText);
}

.mainPage {
    border: 1px solid black;
    margin-top: 20px;
    padding: 0 20px;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.today {
    display: flex;
    flex-direction: row;
}

.uvNbr {
    border-radius: 5px;
    width: 75px;
    text-align: center;
}

.fiveDays {
    display: flex;
    flex-direction: row;
}

.dayCard {
    background-color: var(--carBack);
    color: var(--lightText);
    margin: 0 10px;
    padding: 0 20px;
}